:root {
  --color-primary: #FFD600;
  --color-primary-light: #FFF263;
  --color-primary-dark: #F9CA21;

  --color-secondary: #F9C02D;

  --color-title-input: rgba(0, 0, 0, 0.6);

  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-warning: #E43700;
  font-size: 62.5%;
}

body {
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary-dark));
}

.container {
  margin: 0 1.6rem;
}