.form__control__input {
  background-color: var(--color-primary-light);
  border: 1px solid rgb(233, 233, 233);
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1.6rem;
  outline: 0;
  padding: 0.8rem 1rem;
}

.form__control__input:hover,
.form__control__input:focus {
  border-color: var(--color-secondary);
}

.form__control__input::placeholder {
  font-size: 1.2rem;
  font-weight: 300;
}

@media screen and (min-width: 798px) {
  .form__control__input::placeholder {
    font-size: 1.4rem;
  }
}