<!-- FAVICON -->
<link href="./favicon.svg" type="icon/svg" rel="icon">

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Pacifico|Montserrat:100,300,400,500,700,900" rel="stylesheet" />

<!-- STYLES -->
<link rel="stylesheet" href="./css/normalize.css">
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/style.css">
<!-- HEADER -->
<link rel="stylesheet" href="./css/header/header.css">
<link rel="stylesheet" href="./css/header/header-title.css">
<link rel="stylesheet" href="./css/header/header-link.css">
<!-- MAIN -->
<link rel="stylesheet" href="./css/main/main.css">
<!-- FORM -->
<link rel="stylesheet" href="./css/form/form.css">
<link rel="stylesheet" href="./css/form/form-control.css">
<link rel="stylesheet" href="./css/form/form-control-title.css">
<link rel="stylesheet" href="./css/form/form-control-input.css">
<link rel="stylesheet" href="./css/form/form-control-textarea.css">
<link rel="stylesheet" href="./css/form/form-control-countCharacters.css">
<link rel="stylesheet" href="./css/form/form-control-checkbox.css">
<link rel="stylesheet" href="./css/form/form-warning.css">
<link rel="stylesheet" href="./css/form/form-warning-list.css">
<link rel="stylesheet" href="./css/form/form-warning-item.css">
<!-- GRID -->
<link rel="stylesheet" href="./css/grid/grid.css">
<link rel="stylesheet" href="./css/grid/grid-notice.css">
<link rel="stylesheet" href="./css/grid/grid-buttons.css">
<link rel="stylesheet" href="./css/grid/grid-buttons-submit.css">